.App {
  text-align: center;
  background-color: #F7F0F0;
}

.App-header {
  background-color: #18A999;
  height: 150px;
  padding: 20px;
  color: #484349;
}

.button {
  background-color: #174E7D;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-bottom: 5px;
  padding: 5px 15px;
  text-decoration: none;
}

.Links {
  padding-top: 20px;
}

.Icons {
  padding-left: 5px;
  padding-right: 5px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
